/* --header-- */

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: SpaceGrotesk-Regular;
}
.links ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.icon_nav {
  display: none;
}
.links ul li a {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
.btn-header {
  width: 231px;
  height: 68px;
  border-radius: 14px;
  background-color: #fff;
  border: 1px solid rgba(25, 26, 35, 1);
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

/* home */

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
/* .description {
} */
.content {
  width: 531px;
  height: 231px;
  font-size: 60px;
  color: rgba(0, 0, 0, 1);
  font-family: SpaceGrotesk-Regular;
  margin: 0;
}
.paragraf {
  width: 498px;
  height: 112px;
  font-size: 20px;
  font-family: SpaceGrotesk-Regular;
}
.btn-home {
  width: 226px;
  height: 68px;
  background-color: rgba(25, 26, 35, 1);
  border-radius: 14px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
/* .announcement {
} */

.company {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.company a img {
  filter: grayscale(100%);
}

/* footer */
.container-footer {
  display: flex;
  justify-content: center;
  height: 514px;
  border-radius: 45px 45px 0px 0px;
  background-color: rgba(25, 26, 35, 1);
  margin-top: 40px;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding-top: 40px;
}
.footer-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.footer-list ul {
  display: flex;
  gap: 30px;
}
.footer-list ul a {
  display: flex;
  gap: 30px;
  color: rgba(255, 255, 255, 1);
  font-family: SpaceGrotesk-Regular;
  font-size: 18px;
}
.footer-social {
  display: flex;
  gap: 20px;
}
.footer-contact {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
.contact-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact {
  width: 126px;
  height: 26px;
  border-radius: 7px;
  background-color: rgba(185, 255, 102, 1);
  color: rgba(0, 0, 0, 1);
  font-family: SpaceGrotesk-Regular;
}
.footer-info {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  font-family: SpaceGrotesk-Regular;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 634px;
  height: 184px;
  background-color: rgba(41, 42, 50, 1);
}
.contact-form input {
  background-color: transparent;
  color: #fff;
  padding-left: 10px;
  width: 285px;
  height: 67px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: SpaceGrotesk-Regular;
}
.contact-form button {
  width: 249px;
  height: 68px;
  background-color: rgba(185, 255, 102, 1);
  border-radius: 14px;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  font-family: SpaceGrotesk-Regular;
  cursor: pointer;
}
.hr {
  padding-top: 30px;
}
.footer-copyright {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer-copyright p {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  font-family: SpaceGrotesk-Regular;
}

/* responsive */

/* @media screen and (max-width: 340px) {
  .links ul {
    display: none;
  }
  .icon_nav {
    display: flex;
  }
} */
@media screen and (max-width: 340px) {
  .links ul {
    display: none;
  }
  .icon_nav {
    display: flex;
  }
  .main {
    display: flex;
    flex-direction: column;
    height: 680px;
  }
  .content {
    position: relative;
    top: -200px;
    font-size: 30px;
    width: 270px;
  }
  .announcement {
    position: absolute;
    top: 275px;
  }
  .announcement img {
    width: 270px;
  }
  .paragraf {
    position: absolute;
    top: 530px;
    font-size: 14px;
    width: 270px;
  }
  .btn-home {
    position: absolute;
    top: 675px;
    width: 270px;
    font-size: 14px;
  }
  .company {
    flex-wrap: wrap;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 1050px;
    border-radius: 0;
  }
  .contact-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-list ul {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  /* .contact-inner {
  } */
  .contact-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 270px;
    margin-top: 20px;
  }
  .contact-form input {
    width: 200px;
    height: 50px;
  }
  .contact-form button {
    width: 215px;
    height: 50px;
    font-size: 14px;
  }
  .footer-copyright {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .content-wrapper {
    position: relative;
    padding: 0;
  }
  /* .footer-list {
  } */
  .footer-social {
    position: absolute;
    top: 785px;
  }
  .hr {
    padding-top: 80px;
  }
}
