body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: SpaceGrotesk-Regular;
  src: url(SpaceGrotesk-Regular.ttf);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
