.container-footer {
  padding: 0px 100px;
  height: 514px;
  border-radius: 45px 45px 0px 0px;
  background-color: rgba(25, 26, 35, 1);
  margin-top: 40px;
}
.content-wrapper {
  display: flex;
  max-width: 1480px;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 40px;
}
.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.footer-list ul {
  display: flex;
  gap: 30px;
}
.footer-list ul a {
  display: flex;
  gap: 30px;
  color: rgba(255, 255, 255, 1);
  font-family: SpaceGrotesk-Regular;
  font-size: 18px;
}
.footer-social {
  display: flex;
  gap: 20px;
}
.footer-contact {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.contact-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact {
  width: 126px;
  height: 26px;
  border-radius: 7px;
  background-color: rgba(185, 255, 102, 1);
  color: rgba(0, 0, 0, 1);
  font-family: SpaceGrotesk-Regular;
}
.footer-info {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  font-family: SpaceGrotesk-Regular;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 634px;
  height: 184px;
  background-color: rgba(41, 42, 50, 1);
}
.contact-form input {
  background-color: transparent;
  color: #fff;
  padding-left: 10px;
  width: 285px;
  height: 67px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: SpaceGrotesk-Regular;
}
.contact-form button {
  width: 249px;
  height: 68px;
  background-color: rgba(185, 255, 102, 1);
  border-radius: 14px;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  font-family: SpaceGrotesk-Regular;
  cursor: pointer;
}
.hr {
  padding-top: 30px;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.footerCopyrightContent {
  display: flex;
  gap: 20px;
}
.footer-copyright p {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  font-family: SpaceGrotesk-Regular;
}

@media screen and (max-width: 340px) {
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 1050px;
    border-radius: 0;
  }
  .contact-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  /* .contact-inner {
  } */
  .contact-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
  }
  .contact-form input {
    width: 200px;
    height: 50px;
  }
  .contact-form button {
    width: 215px;
    height: 50px;
    font-size: 14px;
  }
  .footer-copyright {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .content-wrapper {
    position: relative;
    padding: 0;
  }
  /* .footer-list {
  } */
  .footer-social {
    position: absolute;
    top: 785px;
  }
  .hr {
    padding-top: 80px;
  }
}
